{% extends "Appjugadores/inicio.html" %}
{% load static %}
{% block section_name %}
<h3>Estadisticas</h3>
{% endblock %}
{% block contenidoQueCambia %}
<h1>Estos son los Antecedentes de  Nuestros Jugadores</h1>
<h3>Lista de jugadores</h3>
{% for antecedente in antecedentes %}
<li>{{ antecedente }}</li>
<button>
    <a href= "{% url 'eliminarantecedente' antecedente.año_de_debut %}">Eliminar</a>  
</button>
<button>
    <a href= "{% url 'editarantecedente' antecedente.año_de_debut %}">Editar</a>
</button>
{% endfor %}
{% endblock %}