{% extends "Appjugadores/inicio.html" %}
{% load static %}
{% block contenidoQueCambia %}
<div class="d-flex justify-content-center flex-column flex-md-row">
  <div class="card mx-md-5 card-creadores">
    <img src="{%  static 'Appjugadores/assets/img/AgustinTV.PNG' %}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Agustin Toval</h5>
      <p class="card-text">Tengo 18 años y me apasionan las nuevas tecnologias. En mi tiempo libre estudio y juego videojuegos.</p>
      <a href="https://www.linkedin.com/in/agustin-fernando-toval-417434243/" class="btn btn-primary">Contacto</a>
    </div>
  </div>
  <div class="card mx-md-5 card-creadores">
    <img src="{%  static 'Appjugadores/assets/img/AgustinCL.PNG' %}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Agustin Colombres</h5>
      <p class="card-text">Tengo 39 años, soy un abogado incursionando en el mundo IT, del cual cada vez me apasiono mas.</p>
      <a href="https://www.linkedin.com/in/agustin-colombres-354151102/" class="btn btn-primary">Contacto</a>
    </div>
  </div>
</div>

{% endblock %}