{% extends "Appjugadores/inicio.html" %}
{% load static %}
{% block section_name %}
<h3>Estadisticas</h3>
{% endblock %}
{% block contenidoQueCambia %}
<h1>Estos son las Estadisticas de  Nuestros Jugadores</h1>
<h3>Lista de jugadores</h3>
{% for estadistica in estadisticas %}
<li>{{ estadistica }}</li>
<button>
    <a href= "{% url 'eliminarestadistica' estadistica.goles %}">Eliminar</a>
</button>
<button>
    <a href= "{% url 'editarestadistica' estadistica.goles %}">Editar</a>
</button>
<br>
<br>
<button>
    <a href="{% url 'EstadisticasFormulario' %}">Crear</a>
</button>
{% endfor %}
{% endblock %}